<!-- START HEADER -->
<header>
    <a href="" class="logo">Dhoha</a>

    <nav class="nav">
        <a href="#home" class="nav-anchor"><i class="uil uil-estate nav-icons"></i> Home</a>
        <a href="#about" class="nav-anchor"><i class="uil uil-user nav-icons"></i> About me</a>
        <a href="#services" class="nav-anchor"><i class="uil uil-suitcase-alt nav-icons"></i> Services</a>
        <a href="#contact" class="nav-anchor"><i class="uil uil-message nav-icons"></i> Contact me</a>
    
        <label class="toggle">
            <input id="toggle-btn" onclick="changeTheme()" type="checkbox">
            <span class="slider round"></span>
        </label>
    </nav>
</header>